@import "./break_point.scss";

html {
  font-size: 62.5%;
  line-height: 1.25;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
}
body {
  height: 100%;
  color: rgb(0, 0, 0);
  font-family: var(--var-mont), sans-serif;
  width: 100%;
}
button {
  transition: all 0.3s ease;
  color: $black;
}
._cont_limit {
  max-width: 178rem;
  padding: 0px 1.5rem;
  margin: 0px auto;
  height: 100%;
  box-sizing: content-box;
  @media (max-width: $layout-breakpoint-SCREEN_SM) {
    padding: 0px 1rem;
  }
}
.main {
  position: relative;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: rgba($color: black, $alpha: 0.1);
}
.mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.3);
  z-index: 99;
}
.bg_blur {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  img {
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
